.app-container {
    height: 100%;
    .viz-container {
        height: 100%;
        .tableau-placeholder {
            margin: 20px;
        }
    }
    .markDetails {
        .header {
            display: block;
            font-size: 2rem;
        }
        .selection-container {
            display: block;
            .type {
                display: block;
                width: 100%;
                margin-top: 2rem;
                .type-header {
                    width: 24%;
                    font-size: 1.5rem;
                    display: inline-block;
                }
                .type-selections {
                    display: inline-block;
                    margin-left: 1rem;
                    width: 70%;
                    .mark {
                        margin: 0.5rem;
                        display: inline-block;
                        border-radius: 4px;
                        background-color: lightblue;
                        border: 1px solid black;
                    }
                    .pair {
                        margin: 0.5rem;
                        display: inline-block;
                        border-radius: 4px;
                        background-color: lightpink;
                        border: 1px solid black;
                        .name {
                            display: inline-block;
                            font-weight: bolder;
                        }
                        .value {
                            display: inline-block;
                            margin-left: 0.5rem;
                            color: blue;;
                        }
                    }
                }
            }
        }
    }
}