<div class="app-container">
  <div class="markDetails">
    <div class="header">SELECTIONS</div>
    <div class="selection-container">
      <div class="type">
        <div class="type-header">Vehicle Model Distribution</div>
        <div class="type-selections">
          <ng-container *ngFor="let s of selections['vehiclemodeldistribution']">
            <div class="mark">
              <ng-container *ngFor="let p of s">
                <div class="pair">
                  <div class="name">{{p.name}}</div>
                  <div class="value">{{p.value}}</div>
                </div>
              </ng-container>
            </div>
          </ng-container>
        </div>
      </div>
      <div class="type">
        <div class="type-header">Gender By Country</div>
        <div class="type-selections">
          <ng-container *ngFor="let s of selections['genderbycountry']">
            <div class="mark">
              <ng-container *ngFor="let p of s">
                <div class="pair">
                  <div class="name">{{p.name}}</div>
                  <div class="value">{{p.value}}</div>
                </div>
              </ng-container>
            </div>
          </ng-container>
        </div>
      </div>
      <div class="type">
        <div class="type-header">Vehicle Model by Avg Price</div>
        <div class="type-selections">
          <ng-container *ngFor="let s of selections['vehiclemodelbyavgprice']">
            <div class="mark">
              <ng-container *ngFor="let p of s">
                <div class="pair">
                  <div class="name">{{p.name}}</div>
                  <div class="value">{{p.value}}</div>
                </div>
              </ng-container>
            </div>
          </ng-container>
        </div>
      </div>
      <div class="type">
        <div class="type-header">Model-Gender-Price Treemap</div>
        <div class="type-selections">
          <ng-container *ngFor="let s of selections['model-gender-pricetreemap']">
            <div class="mark">
              <ng-container *ngFor="let p of s">
                <div class="pair">
                  <div class="name">{{p.name}}</div>
                  <div class="value">{{p.value}}</div>
                </div>
              </ng-container>
            </div>
          </ng-container>
        </div>
      </div>
    </div>
  </div>
  <div class="viz-container">
    <button (click)="revertAll()">UNDO ALL CHANGES</button>
    <button (click)="exportData()">EXPORT DATA</button>
    <div class='tableauPlaceholder inline' id='vehicleModelDistributionViz'></div>
    <div class='tableauPlaceholder inline' id='genderByCountryViz'></div>
    <div class='tableauPlaceholder block' id='vehicleModelByAvgPriceViz'></div>
    <div class='tableauPlaceholder block' id='modelGenderPriceTreemapViz'></div>
  </div>
</div>

